body{
    margin: 0;
    background-color: white;
    color: rgb(0, 0, 0);
}

nav{
    background-color: white;
    border-bottom: 3px solid black;
    height: 70px;
    padding: 1px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: max-content;
    text-align: center;
    pointer-events: none;
    z-index: 1;
}
#logo{
    display: flex;
    gap: 10px;
    margin: 10px;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}
img{
 width: 70px;
 height: 70px;
}
#button-container{
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    text-decoration: none;
    width: fit-content;
    font-weight: 500;
    transition: all .3s ease-in-out;
 }


#button-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 12px; /* Add space between buttons */
}
 button{
    background-color: black;
    color: white;
 }


#cartes-conteneur{
    width: 78%;
    height: 90%;
    display: flex;
    background: #f8ebd6;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
    text-transform: uppercase;
    gap: 5px;
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);
    padding: 50px;
}
#test{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
}
#test h1{
    font-size: 25px;
}
#cartes-conteneur img {
    height: 100%;
    width: 40%;
}
#conteur-pr{
    margin-left: 36px;
}
#cartes-conteneurs{
    width: 78%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
    text-transform: uppercase;
    gap: 5px;
    overflow: hidden;
    padding: 50px;
    flex-direction: column;
}
#conteneur{

    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.contentarticle{
    width: 78%;
    height: 90%;
    display: flex;
    background: #f8ebd6;
    color: rgb(0, 0, 0);
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: sans-serif;
    text-transform: uppercase;
    gap: 5px;
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);
    padding: 100px;
    margin-bottom: 50px;
    align-items: center;
}
.contentarticle img{
    height: 100%;
    width: 50%;
}
.contentText{
    margin-left: 38px;
}

#auteurcontain{
    display: flex;
    background-color:rgb(255, 255, 255);
    border-bottom: solid rgb(0, 0, 0);
    border-top: solid rgb(0, 0, 0);
    gap: 50px;
    color: rgb(0, 0, 0);
    height: 22vw;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}
.DivParAuteur img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 93px;
    height: 112px;
    border-radius: 100%;
}
.DivParAuteur{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.InfoAuteur{
    display: flex;
   flex-direction: column;
    align-items: center;
    font-size: 17px;
}
.InfoAuteur h4{
    margin: 0;
}
.InfoAuteur h5{
    margin: 0;
    margin-top: 10px;
}

